<div>
	<ng-form name="lgForm">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="form-signin-heading">Porfavor Inicia Sesión</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<label>R.U.T</label>
				<input type="text" class="form-control" ng-model="$ctrl.form.rut" ng-rut required>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-12">
				<label>Contraseña</label>
				<input type="password" class="form-control" ng-model="$ctrl.form.password" ng-keypress="$event.which == 13 && lgForm.$valid && $ctrl.login()" required>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-12">
				<button class="btn btn-lg btn-primary btn-block" ng-click="$ctrl.login()" ng-disabled="!lgForm.$valid">Iniciar</button>
			</div>
		</div>
	</ng-form>
</div>