.middle{
	vertical-align: middle;;
}

a{
	cursor: pointer;
}

tbody > tr > th,
tbody > tr > td{
	vertical-align: middle !important;
}

.center-thead > tr > th{
	text-align: center;
}

.table-centered > thead > tr > th,
.table-centered > thead > tr > td,
.table-centered > tbody > tr > th,
.table-centered > tbody > tr > td{
	text-align: center;
}
