<div class="col-lg-8 col-lg-offset-2">
	<div class="panel panel-default">
		<div class="panel-heading">
			<input type="text" class="form-control" placeholder="Codigo de Barras" ng-model="$ctrl.barCodeModel" ng-keypress="$event.which == 13 && $ctrl.addToInvoice()" autofocus ng-disabled="$ctrl.isPaying">
		</div>
		<div class="panel-body">
			<table class="table" style="table-layout: fixed">
				<thead>
					<tr>
						<th>PRODUCTO</th>
						<th style="text-align: center;">PRECIO</th>
						<th style="text-align: center;">CANTIDAD</th>
						<th style="text-align: center;">TOTAL</th>
						<th style="text-align: center;">ELIMINAR</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th class="active">SubTotal</th>
						<td colspan="3">{{$ctrl.invoice.$getSubTotal() | currency:"$":0}}</td>
						<td>{{$ctrl.invoice.$length()}} Productos</td>
					</tr>
					<tr>
						<th class="active">Impuesto</th>
						<td colspan="3">I.V.A. 19%</td>
						<td>{{$ctrl.invoice.$getTaxes() | currency:"$":0}}</td>
					</tr>
					<tr>
						<th class="active">Descuento</th>
						<td colspan="4">{{$ctrl.invoice.$getDiscounts() || "N/A"}}</td>
					</tr>
					<tr>
						<th class="active">Total</th>
						<td colspan="4" class="info">{{$ctrl.invoice.$getTotal() | currency:"$":0}}</td>
					</tr>
				</tfoot>
				<tbody class="info">
					<tr ng-repeat="item in $ctrl.invoice.product_list track by $index">
						<td>{{item.product_id.name}}</td>
						<td style="text-align: center;">{{item.product_id.price | currency:"$":0}}</td>
						<td style="text-align: center;">{{item.qty}}
							<div class="btn-group-vertical btn-group-xs" role="group" aria-label="...">
								<button type="button" class="btn btn-info" ng-click="$ctrl.invoice.$plusOne(item)"><i class="fas fa-plus"></i></button>
								<button type="button" class="btn btn-info" ng-click="$ctrl.invoice.$minusOne(item)"><i class="fas fa-minus"></i></button>
							</div>
						</td>
						<td style="text-align: center;">{{(item.product_id.price * item.qty) | currency:"$":0}}</td>
						<td style="text-align: center;"><button type="button" class="btn btn-danger" ng-click="$ctrl.invoice.$remove(item)"><i class="fas fa-times"></i></button></td>
					</tr>
					<tr ng-show="$ctrl.invoice.$length() === 0">
						<td colspan="5" style="vertical-align: middle ;text-align: center; height: 100px">Boleta Vacía (Escanea un Codigo)</td>
					</tr>
				</tbody>
			</table>
			<div class="btn-group btn-group-justified" role="group" aria-label="...">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-danger btn-lg" ng-disabled="$ctrl.invoice.$length() === 0" ng-click="$ctrl.resetInvoice()">CANCELAR</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-success btn-lg" ng-disabled="$ctrl.invoice.$length() === 0" ng-click="$ctrl.payInvoice()">PAGAR</button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>